<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pagos e Historial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let closure of closures" (click)="conditionWinnigNumber(closure)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header style="color: black; font-size: 20px; margin: 0%; padding: 0%; border: 0%">
            Cierre # {{closure.id}} {{closure.description}}
          </ion-card-header>
        </ion-col>
        <ion-col>
          <ion-card-header style="color: black; font-size: 15px; margin: 0%; padding: 0%; border: 0%; text-align: right;">
            {{closure.date | date: 'dd/MM/yyyy hh:mm'}}
          </ion-card-header>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-content style="color: black; font-size: 18px; margin: 0%; padding: 0%; border: 0%">
            Total vendido: {{closure.total | currency:'Lps.':true:'1.2-2'}}
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-content style="color: black; font-size: 18px; margin: 0%; padding: 0%; border: 0%; width: 100%">
            Total ganado: {{closure.totalWinning | currency:'Lps.':true:'1.2-2'}}
            <ion-card-content *ngIf="closure.winningNumber != 0" style="color: tomato; font-size: 18px; margin: 0%; padding: 0%; border: 0%; width: 100%; text-align: right;">
              NG: {{closure.winningNumber | number:'2.0-0'}}
            </ion-card-content>
          </ion-card-content>
        </ion-col>
        <!-- <ion-col *ngIf="closure.winningNumber != 0">
          <ion-card-content style="color: tomato; font-size: 18px; margin: 0%; padding: 0%; border: 0%; width: 100%; text-align: right;">
            NG: {{closure.winningNumber | number:'2.0-0'}}
          </ion-card-content>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>